.vscode*
.DS_Store*
/smoke/smokeApp/script
/smoke/smokeApp/seed/JupyterNotebook
/smoke/smokeApp/seed/JupyterDirectory
/smoke/smokeApp/seed/SourceObservationSet
/smoke/smokeApp/seed/SourceSmokePPESimulationModelParametersMap
/smoke/smokeApp/seed/UIConfig
/smoke/smokeApp/src/batchJobs/smokePPEGaussianML
/smoke/smokeApp/src/batchJobs/upsertAcureData
/smoke/smokeApp/src/batchJobs/upsertSmokePPEData
smoke/smokeApp/src/entity/observations
/smoke/smokeApp/src/entity/simulations/acureAircraft
/smoke/smokeApp/src/entity/simulations/smokePPE
/smoke/smokeApp/src/source/SourceSmokePPESimulationModelParametersMap.c3typ
/smoke/smokeApp/src/source/SourceObservationSet.c3typ
/smoke/smokeApp/src/transform/TransformSourceSmokePPESimulationModelParametersMapToSmokePPESimulation*
/smoke/smokeApp/src/transform/TransformSourceObservationSetToObservation*
.github