.vscode*
.DS_Store*
/smoke/smokeApp/script
/smoke/smokeApp/seed/JupyterNotebook
/smoke/smokeApp/seed/SourceObservationSet
/smoke/smokeApp/seed/SourceSmokePPESimulationModelParametersMap
/smoke/smokeApp/seed/UIConfig